* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
}

.container {
  height: 50%;
  width: 50%;

  pre {
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #323232;
  }

  .tooltip-wrapper {
    position: relative;

    &:hover .tooltip-container {
      display: block;
    }

    .base-text {
      cursor: pointer;
      border-bottom: 1px dotted #fff;
    }

    .tooltip-container {
      position: absolute;
      display: none;
      bottom: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      background-color: #323232;
      border: 1px solid #4a4a4a;
      color: #fff;
      border-radius: 5px;
      z-index: 1;
      user-select: none;

      &:before {
        content: '';
        position: absolute;
        height: 10px;
        background: transparent;
        left: 0;
        right: 0;
        top: 100%;
      }

      .tooltip-title {
        border-bottom: 1px solid #4a4a4a;
        padding: 6px 8px;
        font-size: 12px;
        font-weight: 600;
      }

      .tooltip-content {
        max-width: 500px;
        overflow: auto;
      }

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #323232;
        border-bottom: 1px solid #4a4a4a;
        border-right: 1px solid #4a4a4a;
        top: calc(100% - 5px);
        left: 50%;
        z-index: -1;
        transform: translateX(-50%) rotate(45deg);
        border-bottom-right-radius: 3px;
      }
    }
  }
}

.markdown {
  display: block;
  padding: 8px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  width: max-content;
  white-space: initial;
}